
h1
{
font-family: 'Dancing Script', cursive;
  text-align: center ;
  color: black;
  margin-top: 0 ;
  padding-top: 80px;
font-size: 70px ;
margin-bottom: 0;
position: relative;
bottom: 50px;


}
hr
{
  border: dotted #EAF6F6  6px;
  border-bottom: none;
  width : 6%;
  margin-top: 20px;
  margin-bottom: 20px;


}

body
{
  background-color:#C9B6E4 ;
  margin: 0;

}

.armani
{
  background-color: #a5dee5 ;
  margin-left: -5px;
}

.cloud
{

  margin-left: 250px;
   position: absolute;
   top: 50px;
   height: 100px;
   width: 150px;
}

.comimg
{margin-top: 0;
margin-left:300px;

  height: 150px;
  width: 150px;
  float: left;
}


.first-h3
{

 text-align: center;
 margin-top: 0;
 position: relative;
 bottom: 40px;
 font-family: 'Dancing Script', cursive;
}

.homi
{
background-color: #a5dee5;
height:  250px;
width: 1200px;
padding: 20;

position: relative;
left: 130px;
bottom: 0;
top: 0;

}
.imga
{margin-left:1000px;
  height: 100px;
  width: 150px;
}
.midh2
{
 text-align: center;
 font-size: 30px;
 margin-bottom :  10px;
}


.middlediv
{
  background-color:#CCEDD2;
}


.midh3
{
  margin-right: 400px;

}
.midh3-1
{
  margin-right: 400px;
}

.lowerdiv
{
  background-color: #CCEDD2 ;

}

.pty
{
  margin-left:  350px;


}
.pty1
{

text-align: center;
padding-top:0;
margin-top: 0;
margin-bottom: 40px;

margin-left: 120px;
  margin-right: 50px;
  font-size: 15px;

}
.pty2
{
  margin-left: 370px;

}
.redimg
{
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 300px;
}


.skill-row
{

  margin: auto 100px 20px 100px;
  text-align: center;
  padding: 50px 20px 50px 20px;
}
